@font-face {
	font-family: 'golca_extra_light_italic';
	src: url('Golca-ExtraLightItalic.woff2') format('WOFF2'),
		url('Golca-ExtraLightItalic.woff') format('WOFF'),
		url('Golca-ExtraLightItalic.eot') format('EOT'),
		url('Golca-ExtraLightItalic.svg') format('SVG');
	font-weight: normal;
	font-style: normal;
}
