@font-face {
	font-family: 'daikon_extra_light';
	src: url('Daikon-ExtraLight.woff2') format('WOFF2'),
		url('Daikon-ExtraLight.woff') format('WOFF'),
		url('Daikon-ExtraLight.eot') format('EOT'),
		url('Daikon-ExtraLight.svg') format('SVG');
	font-weight: normal;
	font-style: normal;
}
